---
---

<section id="about" class="about">
  <div class="container flex A-contant">
    <img class="a-bg-right" src="/about-bg-right.svg" alt="bg" srcset="" />
    <div class="text">
      <h1>We are ANY Solutions, a design-driven IT company </h1>
      <p>
        We are a remote IT company based in Egypt, working with clients all
        around the world. As ANY Solutions was founded by three engineers,
        efficiency and practicality is of our core principles. We love building
        products that exceed our clients' expectations and make us proud of what
        we made. From conceptualizing your ideas to designing and making them a
        reality. We will aid you in your journey, delivering you to the top of your respective field.
      </p>
    </div>
    <img class="a-bg-left" src="/about-bg-left.svg" alt="bg" srcset="" />
  </div>
</section>

<style>
  .about {
    padding: 10rem 0;
  }
  .A-contant {
    flex-direction: column;
    position: relative;
  }
  .a-bg-left {
    position: absolute;
    height: 150%;
    z-index: -1;
    left: -8%;
    bottom: -40%;
  }
  .a-bg-right {
    position: absolute;
    height: 150%;
    z-index: -1;
    right: 0;
    top: -50%;
  }
  .text {
    transition: all 800ms ease-in-out;
    width: 70%;
  }
  .text h1 {
    transition: all 800ms ease-in-out;
    font-size: 6rem;
    line-height: 5rem;
    margin-bottom: 5rem;
  }
  .text p {
    transition: all 800ms ease-in-out;
    padding-left: 5%;
    font-size: 2rem;
  }
  .text h1:hover {
    transform: scale(0.98);
  }
  .text p:hover {
    transform: scale(0.98);
  }
  @media screen and (max-width: 1000px) {
    .a-bg-left {
      display: none;
    }
    .a-bg-right {
      height: 100%;
      top: 0%;
    }
    .text {
      width: 100%;
      padding: 2rem;
      background-color: rgba(7, 8, 36, 0.83);
    }
  }
  @media screen and (max-width: 600px) {
    .text h1 {
      font-size: 3rem;
      line-height: 3rem;
      margin-bottom: 3rem;
    }
    .text p {
      padding-left: 5%;
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 420px) {
    .text h1 {
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 3rem;
    }
    .text p {
      padding-left: 5%;
      font-size: 1.2rem;
    }
  }
</style>
