<header class="header container flex">
  <div class="logo">
    <img src="/Logo.svg" alt="" srcset="" />
  </div>
  <nav id="nav" class="nav flex">
    <div class="ham-menu">
      <input type="checkbox" name="cb" id="cb" class="check" />
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul id="links" class="flex">
      <label for="cb"></label>
      <li><a href="#services"> Services</a></li>
      <li><a href="#about"> About Us</a></li>
      <li><a href="#contact"> Contact Us</a></li>
    </ul>
  </nav>
</header>

<style>
  .header {
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 10%;
    justify-content: space-between;
  }
  .ham-menu {
    position: relative;
    display: none;

    height: 1.2rem;
  }
  .check {
    position: absolute;
    width: 2.5rem;
    height: 1.2rem;
    z-index: 3;
    opacity: 0;
  }

  .check:hover {
    cursor: pointer;
  }
  .line {
    display: block;
    border-radius: 2rem;
    width: 2rem;
    height: 0.2rem;
    background-color: white;
  }
  .line2 {
    width: 2.5rem;
  }
  .line3 {
    width: 1.5rem;
  }

  .check:checked ~ .line2 {
    opacity: 0;
  }
  .check:checked ~ .line1 {
    transition: all 800ms ease-in-out;
    transform: translateY(0.5rem) rotate(45deg);
  }
  .check:checked ~ .line3 {
    width: 2rem;
    transition: all 800ms ease-in-out;
    transform: translateY(-0.5rem) rotate(-45deg);
  }
  .m-links {
    transition: opacity 700ms ease-in-out;
    opacity: 1 !important;
    width: 100% !important;
    margin-top: 4rem;
    flex-direction: column;
  }
  .m-links li {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .m-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background: linear-gradient(
      90deg,
      rgba(151, 151, 151, 0.53) 20%,
      var(--color-dark) 0%
    );
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 50px 50px 50px 30vw;
  }
  @media screen and (max-width: 900px) {
    ul.flex {
      opacity: 0;
      width: 0%;
    }
    div.ham-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

</style>

<script is:inline>
  const cb = document.getElementById("cb");
  const nav = document.getElementById("nav");
  const links = document.getElementById("links");
  function clicked() {
    if (cb.checked) {
      nav.classList.add("m-nav");
      links.classList.add("m-links");
    } else {
      nav.classList.remove("m-nav");
      links.classList.remove("m-links");
    }
  }
  cb.addEventListener("click", clicked);
  document.addEventListener("scroll", () => {
    if (cb.checked) {
      cb.checked = !cb.checked;
      clicked();
    }
  });
</script>
