<section class="hero">
  <div class="loading-screen" id="loading-screen">
    <div class="progress-section flex">
      <object type="image/svg+xml" data="/animatedLogo.svg"></object>
      <div id="progress-bar" class="progress-bar"></div>
      <p id="progress-percentage">0%</p>
    </div>
    <div class="flex credit">
      <h2>Thanks for the artists providing the 3d models.</h2>
      <p>
        "Discovery Space Shuttle" by rsatenza is licensed under Creative Commons
        Attribution .
      </p>
      <p>
        "Spaceman Model" by likesenape is licensed under Creative Commons
        Attribution .
      </p>
    </div>
  </div>
  <div id="scene-container"></div>
  <slot />
  <div id="H-container" class="container flex H-container">
    <div class="H-text">
      <div>
        <h1>ANY Solutions</h1>
        <p>
          Your way to navigate the digital space,Contact us now to start the
          development of your next big product.
        </p>
      </div>
      <a href="#contact">
        <button class="btn">Contact Us</button>
      </a>
    </div>
  </div>
</section>

<style>
  .loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark);
    z-index: 5;
  }
  .progress-section {
    flex-direction: column;
    height: 80%;
  }
  .progress-section p {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: light;
  }
  .credit {
    transition: all 400ms ease-in-out;
    flex-direction: column;
    height: 10%;
  }
  .credit h2 {
    font-size: 0.8rem;
  }
  .credit p {
    font-size: 0.3rem;
    font-weight: lighter;
  }
  .progress-bar {
    width: 80vw;
    max-width: 670px;
    height: 5px;
    border-radius: 10px;
    margin-top: 2rem;
    background-color: var(--color-primary);
  }
  .progress-bar::before {
    max-width: 670px;
    width: var(--width);
    height: 5px;
    border-radius: 10px;
    content: " ";
    display: block;
    background-color: var(--color-tertiary);
  }
  .loading-screen object {
    width: 17%;
  }
  .hero {
    height: 90vh;
    max-height: 1080px;
    position: relative;
    overflow: hidden;
  }
  #scene-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .H-container {
    margin-top: 5rem;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 60%;
  }

  .H-text {
    position: relative;
    z-index: 1;
    width: 38%;
    margin-left: 5%;
  }
  h1 {
    font-size: 5rem;
    max-width: 15rem;
    line-height: 90%;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
  }
  @media screen and (max-width: 1100px) {
    .H-text {
      width: 80%;
    }
  }
  @media screen and (max-width: 600px) {
    .H-text {
      margin-left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .loading-screen object {
      width: 60%;
    }

    h1 {
      text-align: center;
      margin: auto;
      max-width: 100%;
    }
    p {
      text-align: center;
    }
  }
  @media screen and (max-width: 450px) {
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .btn {
      font-size: 1rem;
    }
  }
</style>
<script type="module">
  import * as THREE from "https://cdn.jsdelivr.net/npm/three@0.121.1/build/three.module.js";
  import { GLTFLoader } from "https://cdn.skypack.dev/three@0.132.2/examples/jsm/loaders/GLTFLoader.js";
  /*mobile checking function*/
  window.mobileCheck = function () {
    let check = false;
    (function (a) {
      if (
        /(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(
          a
        ) ||
        /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(
          a.substr(0, 4)
        )
      )
        check = true;
    })(navigator.userAgent || navigator.vendor || window.opera);
    console.log(check);
    return check;
  };
  /*gloable variables*/
  /* Sizes */
  const sizes = {
    width: window.innerWidth,
    height: window.innerWidth > 1080 ? 1080 : window.innerWidth,
  };
  const object = document.createElement("object");
  let floatingMeshY = [];
  let rotatingMesh = [];
  const manager = new THREE.LoadingManager();
  const loader = new GLTFLoader(manager);
  const progressScreen = document.getElementById("loading-screen");
  const progressPercentage = document.getElementById("progress-percentage");
  const progressBar = document.getElementById("progress-bar");
  let percentage = 0;
  manager.onProgress = function (url, itemsLoaded, itemsTotal) {
    percentage = (itemsLoaded / itemsTotal) * 100;
    progressPercentage.innerText = `${percentage}%`;
    progressBar.style.setProperty("--width", `${percentage}%`);
    progressBar.style.before = "red";
    console.log();
  };
  manager.onLoad = function () {
    progressScreen.style.display = "none";
    document.body.classList.remove("stop-scrolling");
    object.type = "image/svg+xml";
    object.data = "/hero-left-animated.svg";
    object.style.position = "absolute";
    object.style.zIdex = "-2";
    object.style.left = "-4%";
    object.style.bottom = "-5%";
    if (window.innerWidth < 1100 && window.innerWidth > 600) {
      object.style.width = "70%";
    } else if (window.innerWidth < 600) {
      object.style.width = "90%";
    } else {
      object.style.width = "50%";
    }
    document.getElementById("H-container").appendChild(object);
  };
  /*scene and camera */
  const scene = new THREE.Scene();

  const camera = new THREE.PerspectiveCamera(
    75,
    window.innerWidth / window.innerHeight,
    0.1,
    1000
  );
  camera.position.set(0, 0, -30);
  camera.lookAt(0, 0, 0);
  let clock;
  clock = new THREE.Clock();
  //renderer
  const sceneContainer = document.querySelector("#scene-container");
  const renderer = new THREE.WebGLRenderer({ alpha: true, antialias: true });
  renderer.setSize(sizes.width, sizes.height);
  sceneContainer.appendChild(renderer.domElement);

  //groups
  const shuttleGroup = new THREE.Object3D();
  shuttleGroup.position.set(-80, 5, 0);
  shuttleGroup.up.set(0, 1, 0);

  const spacemanGroup = new THREE.Object3D();
  spacemanGroup.position.set(0, 10, 4);
  spacemanGroup.up.set(0, 1, 0);
  scene.add(shuttleGroup, spacemanGroup);

  // Lights

  const shuttlePointLight = new THREE.PointLight(0xffffff, 0.5);
  shuttlePointLight.position.set(-2, 0, 2);

  const shuttleSpotLight = new THREE.SpotLight(0x32baec, 2);
  shuttleSpotLight.position.set(-1, -10, 1);
  shuttleSpotLight.decay = 2;

  const shuttleSpotLight2 = new THREE.SpotLight(0xfd4d26, 1.2);
  shuttleSpotLight2.position.set(10, 10, 2);
  shuttleSpotLight2.decay = 2;

  const spacemanPointlight = new THREE.PointLight(0xc132ec, 1);
  spacemanPointlight.position.set(-2, 10, 2);
  const spacemanPointlight2 = new THREE.PointLight(0xfd4d26, 1);
  spacemanPointlight2.position.set(2, -2, 7);

  const light = new THREE.AmbientLight(0xffffff);

  scene.add(light);

  //plane
  const planeGeometry = new THREE.PlaneBufferGeometry(85, 85, 1, 1);
  const planeMaterial = new THREE.MeshBasicMaterial({ color: 0xfd4d26 });
  const plane = new THREE.Mesh(planeGeometry, planeMaterial);
  plane.position.set(-30, 20, 30);
  plane.rotation.y = Math.PI;
  plane.rotation.z = Math.PI * 0.07;

  //3d models

  function initSpaceman(spacemanData, mobile) {
    const spaceman = spacemanData.scene.children[0];
    spaceman.scale.set(1.5, 1.5, 1.5);
    spaceman.position.set(0, 0, 0);
    spaceman.rotation.z = -Math.PI / 1.5;
    spaceman.add(spacemanPointlight, spacemanPointlight2);
    floatingMeshY.push(spaceman);
    rotatingMesh.push(spaceman);
    spacemanGroup.add(spaceman);
    if (mobile) {
      shuttleGroup.add(shuttlePointLight, shuttleSpotLight, shuttleSpotLight2);
    }
  }
  function initShuttle(shuttleData) {
    const shuttle = shuttleData.scene.children[0];
    shuttle.rotation.z = -Math.PI / 2;
    shuttle.rotation.y = -Math.PI * 0.055;
    shuttle.rotation.x = -Math.PI / 1.7;
    shuttle.scale.set(20, 20, 20);
    shuttle.add(shuttlePointLight, shuttleSpotLight, shuttleSpotLight2);
    floatingMeshY.push(shuttle);
    shuttleGroup.add(shuttle, plane);
  }

  async function loadModels() {
    if (window.mobileCheck()) {
      const spacemanData = await loader.loadAsync("/models/spaceman.glb");
      initSpaceman(spacemanData, true);
    } else {
      const [shuttleData, spacemanData] = await Promise.all([
        loader.loadAsync("/models/space_shuttle.glb"),
        loader.loadAsync("/models/spaceman.glb"),
      ]);
      initShuttle(shuttleData);
      initSpaceman(spacemanData, false);
    }
  }

  window.addEventListener("resize", () => {
    // Update sizes
    sizes.width = window.innerWidth;
    sizes.height = window.innerWidth > 1080 ? 1080 : window.innerWidth;

    // Update camera
    camera.aspect = sizes.width / sizes.height;
    camera.updateProjectionMatrix();

    // Update renderer
    renderer.setSize(sizes.width, sizes.height);
    renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));

    //hero bg width update
    if (window.innerWidth < 1100 && window.innerWidth > 600) {
      object.style.width = "70%";
    } else if (window.innerWidth < 600) {
      object.style.width = "90%";
    } else {
      object.style.width = "50%";
    }
  });

  function animate() {
    requestAnimationFrame(animate);
    const time = clock.getElapsedTime();
    if (shuttleGroup.position.x <= -25) {
      shuttleGroup.position.x += 0.2 + Math.log10(time * 5 + 1);
    }
    for (let i = 0; i < floatingMeshY.length; i++) {
      floatingMeshY[i].position.y += Math.cos(time) * 0.01 * (i / 2 + 1);
    }
    for (let i = 0; i < rotatingMesh.length; i++) {
      rotatingMesh[i].rotation.x += 0.003 * (i + 1);
      rotatingMesh[i].rotation.y += Math.cos(time) * 0.0003 * (i + 1);
      rotatingMesh[i].rotation.z += Math.cos(time) * 0.0008 * (i + 1);
    }
    renderer.render(scene, camera);
  }

  animate();
  loadModels();
</script>
