<div id="message" class="flex message hidden">
  <h1></h1>
  <p></p>
  <img src="" alt="" />
</div>

<style>
  .good {
    color: #2ed1c8;
  }
  .bad {
    color: var(--color-tertiaryi);
  }
  .hidden {
    z-index: -1;
    opacity: 0;
  }
  .visible {
    z-index: 4;
    opacity: 1;
  }
  .message {
    transition: all 500ms ease-in-out;
    flex-direction: column;
    background-color: var(--color-dark);
    border-radius: 1.5rem;
    padding: 4rem 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .message h1 {
    font-size: 2rem;
    text-align: center;
  }
  .message p {
    margin: 1.5rem 0;
  }
  .message img {
    width: 160px;
  }
</style>
