---
import Card from "./Card.astro";
import data from "../data/card-data.json";
---

<section class="services">
  <div class="container flex S-contant">
    <img class="s-bg-left" src="/services-bg-left.svg" alt="bg" srcset="" />
    {
      data.map((element) => (
        <Card
          icon={element.icon}
          title={element.title}
          phrase={element.phrase}
          keyPoints={element["key-points"]}
          color={element.color}
        />
      ))
    }
    <img class="s-bg-right" src="/services-bg-right.svg" alt="bg" srcset="" />
  </div>
</section>

<style>
  .services {
    padding: 12rem 0;
    overflow-x: hidden;
  }
  .S-contant {
    flex-direction: column;
    position: relative;
  }
  .s-bg-right {
    position: absolute;
    height: 80%;
    z-index: -1;
    right: -10%;
    bottom: -10%;
  }
  .s-bg-left {
    position: absolute;
    height: 80%;
    z-index: -1;
    left: 0;
    top: -10%;
  }
  @media screen and (max-width: 1000px) {
    .s-bg-right {
      display: none;
    }
  }
</style>
