---
import '../styles/global.css';
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" />
		<title>Any|solutions</title>
	</head>
	<body class="stop-scrolling">
		<slot />
		<Footer/>
	</body>
</html>

